.wrapper{
    display:flex;
}
#name {
    position: absolute;
    right: 40%;
    font-size: 2rem;
    top: 70%;
}
div#followers {
    position: absolute;
    right: 45%;
    top: 76%;
    font-size: 30px;
}

a{

    text-decoration: none;
}
div#result {
    background: gray;
    border-radius: 50%;
    overflow: hidden;
    max-width: 340px;
    max-height: 340px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div#result img {
    width: 200px;
}